.page .headar-box{
    width: calc(100% -60px);
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    background-image: url(resources/YouthFireLogoPanel3.png);
    background-position: center;
    @media(max-width: 605px){
        height: 300px;
    }
    @media(max-width: 420px){
        height: 200px;
    }
}

.page .headar-box h1{
    font-size: 80px;
    font-weight: 900;
    text-align: center;
    @media(max-width: 605px){
        font-size: 50px;
    }
    @media(max-width: 420px){
        font-size: 35px;
    }
        
    
    color: var(--color-text);
}
.page .headar-box span{
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    color: var(--color-text);
    @media(max-width: 605px){
        font-size: 30px;
    }
    @media(max-width: 420px){
        font-size: 20px;
    }
    
}

.page-div-box{
    background-color: var(--color-plane);
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.page-div-box a{
    background-color: var(--color-dark);
    padding: 10px;
    border-radius: 10px;
    transition: var(--Trans1);
}
.page-div-box a:hover{
    background-color: var(--color);
    transition: var(--Trans1);
}

.page-div-box a i{
   color: var(--color-text);
   font-size: 40px;
}

.page-div-box-text{
    font-size: 50px;
    font-weight: 900;
    color: var(--color-text);
}

#youth-verse-box{
    display: flex;
    background-color: var(--color-plane);
    min-height: 300px;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;   
    justify-content: center;
    align-items: center;
    text-align: center;
}

#youth-verse{
    font-size: 30px;
    font-weight: 900;
    color: var(--color-text);
}